.active{
    box-sizing: border-box;
    border: 1.5px solid rgb(14, 122, 129);
    border-radius: 120px;
    
    background: rgba(14, 122, 129, 0.1);
}
.addopts{
    box-sizing: border-box;
    border: 1.5px solid rgb(222, 11, 11);
    border-radius: 120px;
    color: red;
    background: rgba(0, 8, 10, 0.1);
}

.usefulLink{
    /* margin: 10px; */
    box-sizing: border-box;
    border: 1.5px solid rgb(14, 122, 129);
    /* border-radius: 120px; */
    height: 30px;
    width: 60px;
    border-radius: 120px;
    justify-content: center;
    text-align: center;
   
    background: rgba(14, 122, 129, 0.1);
}